.an-contact-us {
  position: relative;
  .container-fluid {
    padding: 0;
  }
  form {
    position: relative;
    margin-bottom: $margin-base * 4;

    textarea {
      resize: none;
      overflow: auto;
    }
  }

  .an-same-height {
    position: relative;

    .an-map-content {
      height: 100%;

      @media (max-width: $screen-md) {
        height: 300px;
        margin-top: 0;
      }
    }
  }

  .contact-use-info {
    position: relative;
    padding-top: $padding-base * 3;
    padding-left: $padding-base * 3;
    @media (max-width: $screen-sm) {
      padding-left: $padding-base;
      padding-right: $padding-base;
    }
    &.right {
      padding-left: $padding-base;
      padding-right: $padding-base * 3;
      @media (max-width: $screen-sm) {
        padding-left: $padding-base;
        padding-right: $padding-base;
      }
    }
  }

  h4 {
    font-size: $font-size-h4;
    font-family: $font-family-secondary;
    @extend .text-uppercase;
    font-weight: $font-weight-regular;
    margin-bottom: $margin-medium;
  }

  .an-map-content {
    position: relative;
    width: 100%;
    height: 300px;
    &.top-map {
      margin-bottom: $margin-base * 3;
    }

    @media (max-width: $screen-sm) {
      margin-top: $margin-base * 2;
    }

    #nightstyled-map {
      height: 100%;
    }
  }
}

.an-address-single {
  font-style: italic;
  color: darken($font-color-light, 10%);
  position: relative;

  margin-bottom: $margin-base * 2;
  p {
    position: relative;
    margin-bottom: $margin-small;
    font-size: $font-size-base + 1;
    padding-left: $padding-base * 2;

    a {
      font-family: $font-family-secondary;
      font-style: normal;
    }
    i {
      position: absolute;
      left: 0;
      font-size: $font-size-h4;
      color: $color-primary;
    }
  }
}
