.an-pricing-table-single {
  position: relative;
  width: 100%;
  background: lighten($color-content-bg, 4%);
  margin-bottom: $margin-large;
  @include border($border-color);
  @include transition;

  &:hover {
    @include an-box-shadow;
  }

  &.header-bg {
    &,
    &.standard,
    &.plan-gold,
    &.plan-plutinum {
      .price-header {
        .plan-price,
        .plan-name,
        .plan-price span,
        .plan-price small{
          color: $font-color-white;
        }
      }
    }
    .price-header {
      background: $color-primary;
    }

    &.standard {
      .price-header {
        background: $color-category-pets;
      }
    }
    &.plan-gold {
      .price-header {
        background: $color-category-jobs;
      }
    }
    &.plan-plutinum {
      .price-header {
        background: $color-category-hotels;
      }
    }

    &.footer {
      .price-footer {
        background: $color-primary;
      }

      &.standard {
        .price-footer {
          background: $color-category-pets;
        }
      }
      &.plan-gold {
        .price-footer {
          background: $color-category-jobs;
        }
      }
      &.plan-plutinum {
        .price-footer {
          background: $color-category-hotels;
        }
      }
    }
  }

  &.standard {
    .price-header {
      .plan-price {
        color: $color-category-pets;
      }
    }
  }

  &.plan-gold {
    .price-header {
      .plan-price {
        color: $color-category-jobs;
      }
    }
  }


  &.plan-plutinum {
    .price-header {
      .plan-price {
        color: $color-category-hotels;
      }
    }
  }

  .price-header {
    position: relative;
    padding: $padding-medium;
    @extend .text-center;
    @include border-bottom($border-color);

    .plan-name {
      @extend .text-uppercase;
      margin-top: 0;
    }
    .plan-price {
      color: $color-primary;
      span {
        font-size: $font-size-base - 1;
        position: relative;
        top: -10px;
        padding-right: $padding-small - 5;
        color: $font-color-light;
      }
      small {
        font-size: $font-size-base;
        color: $font-color-light;
        font-weight: $font-weight-semibold;
      }
    }
  }

  .feature-lists {
    @extend .list-unstyled;
    padding: $padding-base;
    @extend .text-center;

    li {
      padding: $padding-small - 5 0;
      color: darken($font-color-light, 10%);
    }
  }

  .price-footer {
    padding: $padding-medium;
    @include border-top($border-color);
  }
}
