.an-calltoaction {
  position: relative;
  width: 100%;

  @media (max-width: $screen-sm) {
    .text-right {
      text-align: left !important;
    }
  }

  &.reverse {
    h2 {
      color: $font-color-base;
    }
    p {
      color: $font-color-light;
    }
  }

  h2 {
    font-weight: $font-weight-regular;
    color: $font-color-white;
    margin: 0;
  }

  p {
    margin-bottom: 0;
  }

  a {
    margin-top: $margin-base;
  }
}

